@using ASP.NETCore_Training.Models
@model IEnumerable<ProductTypes>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Type</h2>
    </div>

    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">
            <i class="fas fa-plus-circle"></i> New Product Type
        </a>
    </div>
</div>
<br />
<div class="row">
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(pt => pt.ProductType)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductType</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>

@section scripts{
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]';
            if (save != null) {
                alertify.success(save)
            }
        })
    </script>
}
